{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="mb-3">{{ object.username }}</div>
{% if user.profile.image %}
<img src="{{ user.profile.image.url }}" alt="User Avatar" width="50" height="50">
{% else %}
<img src="{% static 'images/login-box.jpg' %}" width="200" height="200" class="img-thumbnail " alt="profile-img">
{% endif %}
<div class="row">
    <div class="col-4">
       <form method="post" action="{% url 'user_profile:index' request.user.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_image" class="form-label">Выберите изображение для аватара</label>
                <input class="form-control" type="file" id="id_image" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>

</div>


{% endblock %}