{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-6">
            <div class="fs-5">Корзина</div>
            {% if  cart_items %}
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">Название</li>
                  <li class="list-group-item">Количество</li>
                  <li class="list-group-item">цена за шт.</li>
                  <li class="list-group-item">всего</li>
                </ul>
                {% for cart_item in cart_items %}
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">{{ cart_item.plant.name }}</li>
                  <li class="list-group-item">{{ cart_item.quantity }}</li>
                  <li class="list-group-item">{{ cart_item.plant.price }}</li>
                  <li class="list-group-item">{{ cart_item.total_price }}</li>
                </ul>
                <a href="{% url 'carts:add_item'  cart_item.plant.slug  %}" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>
                <a href="{% url 'carts:change_item'  cart_item.plant.slug  %}" class="btn btn-success"><i class="bi bi-dash-circle"></i></a>
                <a href="{% url 'carts:remove_item'  cart_item.plant.slug  %}" class="btn btn-success"><i class="bi bi-trash"></i>  </a>
                {% endfor %}
            {% else %}
                <span class="fs-5">Товары не найдены, перейти в</span>
                <a href="{% url 'catalog:category_by_slug' 'all' %}" class="fs-5">каталог</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}