{% load catalog_tags %}

<div id="plants-list">
    <div class="row align-items-start">
        {% for plant in plants %}
        <div class="col-4 mb-3">
            <div class="card" style="width: 18rem;">
                <a href="{{ plant.get_absolut_url }}"><img src="{{ plant.image.url }}" class="card-img-top"
                                                           alt="plant_img"></a>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        {% autoescape off %}
                        {% if plant.headline %}
                        {{ plant.headline }}
                        {% else %}
                        {{ plant.name|capfirst }}
                        {% endif %}
                        {% endautoescape %}
                    </h5>
                    <p class="card-text">
                        {% autoescape off %}
                        {% if plant.bodyline %}
                        {{ plant.bodyline }}
                        {% else %}
                        {{ plant.description }}
                        {% endif %}
                        {% endautoescape %}
                    </p>
                    <p
                            class="card-text text-end {% if plant.sale %}text-decoration-line-through fs-6
                            {% else %}
                            fs-3
                            {% endif %}">
                        {{ plant.price }} руб.</p>
                    {% if plant.sale %}
                    <p class="card-text text-end text-danger">Скидка {{ plant.sale }}%</p>
                    <p class="card-text text-end fs-3">{{ plant.get_sale_price }} руб.</p>
                    {% endif %}
                    <div class="row align-items-center mb-3 justify-content-center">
                        <div class="col-auto mb-2">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'carts:add_item' plant.slug %}" class="btn btn-success">Добавить вкорзину</a>
                            {% else %}
                            <a
                                    href="{% url 'user:login' %}?next={% url 'carts:add_item' plant.slug %}&plant_slug={{ plant.slug }}"
                               class="btn btn-success">Добавить
                                в корзину (требуется вход)</a>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                                {% if request.user.is_authenticated == True and plant.total_in_cart %}
                                <a href="{% url 'carts:add_item'  plant.slug  %}" class="btn btn-success me-2"><i
                                        class="bi bi-plus-circle"></i></a>
                                {{ plant.total_in_cart }}
                                <a href="{% url 'carts:change_item'  plant.slug  %}" class="btn btn-success ms-2"><i
                                        class="bi bi-dash-circle"></i></a>
                                {% endif %}
                        </div>
                    </div>
                    <span>


                    </span>
                    <p class="card-text "><small class="text-body-secondary">{{ plant.updated_at }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'catalog/partials/pagination.html' %}
</div>