{% load static %}

<div class="navbar-nav ms-auto me-auto">
    <form class="d-flex" role="search"
          hx-get="{% url 'catalog:search' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#plants-list"
          hx-indicator="#loading">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"
               name="q"/>
        <button class="btn btn-outline-success" type="submit">
            <i class="bi bi-search"></i>
        </button>
        {% include 'catalog/partials/loading.html' %}
    </form>
</div>