{% extends 'user/base.html' %}

{% load static %}

{% block content %}
<p class="fs-1">Регистрация</p>
<img src="{% static 'user/images/registration-image.jpg' %}" class="registration-image mb-2 rounded-circle" alt="registration-image">
<form action="">
  <label for="email" class="form-label">Почта</label>
  <div class="input-group mb-3">
      <input type="email" class="form-control" id="email"
             placeholder="example@example.com" aria-describedby="email-addon">
      <div class="input-group-append">
        <span class="input-group-text" id="email-addon"><i class="bi bi-envelope"></i></span>
      </div>
  </div>

  <label for="login" class="form-label">Логин</label>
  <div class="input-group mb-3">
      <input type="email" class="form-control" id="login"
             placeholder="IloveСacti" aria-describedby="login-addon">
      <div class="input-group-append">
        <span class="input-group-text" id="login-addon"><i class="bi bi-person-circle"></i></span>
      </div>
  </div>

  <label for="password" class="form-label">Пароль</label>
  <div class="input-group mb-3">
      <input type="password" class="form-control" id="password"
             placeholder="********" aria-describedby="password-addon">
      <div class="input-group-append">
        <span class="input-group-text" id="password-addon"><i class="bi bi-eye-fill"></i></span>
      </div>
  </div>

  <div class="form-check mb-2 d-flex justify-content-start">
      <input type="checkbox" class="form-check-input me-2" id="add" checked>
      <label for="add" class="form-label">Получать информацию о наших акциях и новых товарах</label>
  </div>

  <button class="btn btn-primary">Зарегистрироваться</button>

</form>
{% endblock %}