{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row mt-5">
        <div class="col-3"></div>

    <!--            category-->
        <div class="row">
            <div class="col">
                <!--                category title-->
                <div class="row">
                    <div class="col mt-2 text-center">
                        <h1 class="text">Категории товаров</h1>
                    </div>
                </div>

                <!--                categories img and title-->
                <div class="row align-items-end">
                    {% for category in categories %}
                    <div class="col-3 mb-5 text-center">
                        <a href="{{ category.get_absolut_url }}"
                           class="link-secondary link-offset-3 link-underline link-underline-opacity-0">
                            <img src="{{ category.image.url }}" style="max-height:150px; min-height: 150px" class="rounded-circle border" width="200" alt="categoryImg">
                            <h5 class="card-title mt-2">{{ category.name }}</h5>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}