{% extends 'base.html' %}

{% load catalog_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <p class="fs-2">Категории</p>
            {% tag_categories as categories %}
            {% for category in categories %}
            <div class="row">
                <div class="col">
                    <a href="{{ category.get_absolut_url }}" class="fs-6">{{ category.name }}</a>
                </div>
            </div>
            {% endfor %}


        </div>

        <div class="col-10">
            <div class="row">
                {% for plant in plants %}
                <div class="card" style="width: 18rem;">
                  <img src="{{ plant.image.url }}" class="card-img-top" alt="plant_img">
                  <div class="card-body">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    <p class="card-text">{{ plant.description }}</p>
                    <a href="{{ plant.get_absolut_url }}" class="btn btn-primary">Купить</a>
                  </div>
                </div>
                {% endfor %}
            </div>

            <!--            pagination-->
            <div class="row align-items-center justify-content-center">
                <div class="col-12 fixed-bottom">
                    <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not has_prev_page %} disabled {% endif %}">
                            <a class="page-link"
                               href="{% if not has_prev_page %} # {% else %}{% url 'catalog:category_by_slug' category_slug=category.slug page_number=prev_page_number %}{% endif %}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for page in pages.page_range %}
                        <li class="page-item {% if page == active_page %} active {% endif %}"><a class="page-link"
                                                                                                 href="{% url 'catalog:category_by_slug' category_slug=category.slug page_number=page %}">{{ page }}</a></li>
                        {% endfor %}
                        <li class="page-item {% if has_next_page == False %} disabled {% endif %}">
                            <a class="page-link"
                               href="{% if not has_next_page %} # {% else %}{% url 'catalog:category_by_slug' category_slug=category.slug page_number=next_page_number %}{% endif %}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}