{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <p class="fs-2">Категории</p>
            {% for category in categories %}
            <div class="row">
                <div class="col">
                    <a href="{{ category.get_absolut_url }}" class="fs-6">{{ category.name }}</a>
                </div>
            </div>
            {% endfor %}


        </div>

        <div class="col-10">
            <div class="row">
                {% for plant in plants %}
                <div class="card" style="width: 18rem;">
                  <img src="{{ plant.image.url }}" class="card-img-top" alt="plant_img">
                  <div class="card-body">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    <p class="card-text">{{ plant.description }}</p>
                    <a href="{{ plant.get_absolut_url }}" class="btn btn-primary">Купить</a>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}