{% extends 'base.html' %}

{% load catalog_tags %}

{% block title %}{{ title }}{% endblock %}

{% block search %}
{% include 'catalog/partials/search.html' %}
{% endblock %}

{% block content %}
<div class="container-lg text-center">
    <div class="row">
        <div class="col-2">
            {% tag_categories %}
        </div>
        {% block goods %}
        <div class="col-10">
            {% block sort %}
            <div class="row mb-2">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          data-bs-auto-close="outside" aria-expanded="false">
                    Фильтры
                  </button>
                  <form
                        hx-get="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:category_by_slug' slug %}{% endif %}"
                        hx-target="#plants-list"
                        hx-trigger="submit"
                        hx-push-url="true"
                        hx-on::after-request="document.body.click()"
                        class="dropdown-menu p-4">
                    <div class="fs-5 mb-3">
                        Сортировка:
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="radio" name="order" id="radioDefault" value="default" {% if not request.GET.order or request.GET.order == 'default' %}checked{% endif %}>
                      {% if request.GET.q %}
                      <input type="hidden" name="q" value="{{ request.GET.q }}">
                      {% endif %}
                      <label class="form-check-label" for="radioDefault">
                        По умолчанию
                      </label>
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="radio" name="order" id="radioHighPrice" value="price" {% if request.GET.order == 'price' %}checked{% endif %}>
                      <label class="form-check-label" for="radioHighPrice">
                        От дешевого
                      </label>
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="radio" name="order" id="radioLowPrice" value="-price" {% if request.GET.order == '-price' %}checked{% endif %}>
                      <label class="form-check-label" for="radioLowPrice">
                        От дорогого
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Применить</button>
                  </form>
                </div>
            </div>
            {% endblock sort %}
            <div class="row align-items-end">

                {% if request.GET.q %}
                <h4 class="mt-4">Результаты поиска по запросу: {{ request.GET.q }}</h4>
                {% endif %}

                {% if not plants %}
                <h4 class="mt-4">Ничего не найдено</h4>
                {% endif %}

                <!--plants-list-->
                {% include 'catalog/partials/plants_list.html' %}

            </div>
        </div>
        {% endblock %}
    </div>

</div>

{% endblock %}