{% extends 'base.html' %}

{% load catalog_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-lg text-center">
    <div class="row">
        <div class="col-2">
            {% tag_categories %}
        </div>
        {% block goods %}
        <div class="col-10">
            {% block sort %}
            <div class="row mb-2">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    Фильтры
                  </button>
                  <form
                        action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:category_by_slug' slug %}{% endif %}"
                        method="get"
                        class="dropdown-menu p-4">
                    <div class="fs-5 mb-3">
                        Сортировка:
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="radio" name="order" id="radioDefault" value="default" {% if not request.GET.order or request.GET.order == 'default' %}checked{% endif %}>
                      {% if request.GET.q %}
                      <input type="hidden" name="q" value="{{ request.GET.q }}">
                      {% endif %}
                      <label class="form-check-label" for="radioDefault">
                        По умолчанию
                      </label>
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="radio" name="order" id="radioHighPrice" value="price" {% if request.GET.order == 'price' %}checked{% endif %}>
                      <label class="form-check-label" for="radioHighPrice">
                        От дешевого
                      </label>
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="radio" name="order" id="radioLowPrice" value="-price" {% if request.GET.order == '-price' %}checked{% endif %}>
                      <label class="form-check-label" for="radioLowPrice">
                        От дорогого
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Применить</button>
                  </form>
                </div>
            </div>
            {% endblock sort %}
            <div class="row align-items-end">

                {% if request.GET.q %}
                <h4 class="mt-4">Результаты поиска по запросу: {{ request.GET.q }}</h4>
                {% endif %}

                {% if not plants %}
                <h4 class="mt-4">Ничего не найдено</h4>
                {% endif %}

                {% for plant in plants %}
                <div class="col-4 mb-3">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ plant.image.url }}" class="card-img-top" alt="plant_img">
                      <div class="card-body text-center">
                        <h5 class="card-title">
                            {% autoescape off %}
                                {% if plant.headline %}
                                    {{ plant.headline }}
                                {% else %}
                                    {{ plant.name|capfirst }}
                                {% endif %}
                            {% endautoescape %}
                        </h5>
                        <p class="card-text">
                            {% autoescape off %}
                                {% if plant.bodyline %}
                                    {{ plant.bodyline }}
                                {% else %}
                                    {{ plant.description }}
                                {% endif %}
                            {% endautoescape %}
                        </p>
                        <p class="card-text text-end">{{ plant.price }} руб.</p>
                        <a href="{{ plant.get_absolut_url }}" class="btn btn-primary mb-3">К товару</a>
                        <p class="card-text "><small class="text-body-secondary">{{ plant.updated_at }}</small></p>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>

<!--            pagination-->
            {% block pagination %}
            {% if page_obj.paginator.num_pages != 1 %}
            <div class="row align-items-center justify-content-center">
                <div class="col-12 fixed-bottom">
                    <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{% if not page_obj.has_previous %} # {% else %}?{% change_params page=page_obj.previous_page_number %}{% endif %}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for page in page_obj.paginator.page_range %}
                        <li class="page-item {% if page == page_obj.number %} active {% endif %}"><a
                                class="page-link" href="?{% change_params page=page %}">{{ page }}</a></li>
                        {% endfor %}
                        <li class="page-item {% if page_obj.has_next == False %} disabled {% endif %}">
                            <a class="page-link" href="{% if not page_obj.has_next %} # {% else %}?{% change_params page=page_obj.next_page_number %}{% endif %}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>

</div>

{% endblock %}