{% extends 'catalog/index.html' %}

{% block title %}{{ title }}{% endblock %}
{% block goods %}
<div class="col-10">
    <div class="card" style="width: 18rem;">
      <img src="{{ plant_by_slug.image.url }}" class="card-img-top" alt="plant_img">
      <div class="card-body">
        <h5 class="card-title">{{ plant_by_slug.name }}</h5>
        <p class="card-text">{{ plant_by_slug.description }}</p>
        <a href="{{ plant_by_slug.get_absolut_url }}" class="btn btn-primary">Купить</a>
      </div>
    </div>
</div>
{% endblock %}